<!DOCTYPE html>
<html ng-app='app' ng-controller='mainController'>
<head lang="en">
	<meta charset='utf-8'/>
	<title>{{mainControllerTitle}}</title>
</head>
<body>

<!-- currency -->
<span>我的手机价格：</span>
<span>{{5799 | currency:'￥'}}</span><br/>
<!-- 可以写其他内容，不过建只写货币-->
<span>{{1000 | currency: "hh"}}</span><br/>
<!-- filter -->
<span>展示符合要求的内容</span>
<input type="text" ng-model='filter_input'>
<ul>
	<li ng-repeat='pname in pnames | filter:filter_input'>{{pname}}</li>
</ul>

<!-- uppercase & lowercase -->
<h2>{{'hello WORLD! 你好世界! がぃい' | uppercase}}</h2>
<h2>{{'hello WORLD! 你好世界! がぃい' | lowercase}}</h2>
<!-- orderBy -->
<ul>
	<li ng-repeat='info in infos | orderBy:"stuName"'>{{info.stuName+','+info.score}}</li>
</ul>

<p>{{ '人不吃饭就会饿' | surfix }}</p>

<ul>
	<li ng-repeat='message in messages|dirty'>{{message}}</li>
</ul>

<script src="angular.js"></script>
<script>
	var app = angular.module('app', []);
	// 自定义过滤服务，添加个人签名
	app.filter('surfix', function (){
		return function (text){
			return text.concat('------by Frank');
		};
	});
	app.filter('dirty',function(){
		return function(messages){
			for(let i=0;i<messages.length;i++){
				var index = messages[i].indexOf("你妈");
				if(index!=-1){
					 var start = messages[i].substr(0,index);
					 var end =messages[i].substr(index+2,messages[i].length);
					 messages[i] = start+"**"+end;
				}
			}
			return messages;
		};
	})
	app.controller('mainController', ['$scope', '$filter', function ($scope, $filter){
		$scope.mainControllerTitle = '过滤服务';
		$scope.filter_input = '';
		$scope.pnames = ['lily','lasa','lbsure','lczerbeila','lcbai','lilei','lihua'];
		$scope.infos = [
			{ stuName:'frank', score:100 },
			{ stuName:'lily', score:105 },
			{ stuName:'lucy', score:92 },
			{ stuName:'liLei', score:3 }
		];
		$scope.messages = [
			"你妈的",
			"你妈生日",
			"你妈喊你回家吃饭",
			"你妈怀你不容易",
			"我去，你妈不在家",
		]
	}]);

	/*
		2.自定义过滤服务
		描述：直接对app页面数据模型，通过.filter()方法进行扩展，
			  即可在页面中直接使用，不需要额外的注入操作。
		语法：app.filter('自定义过滤服务名称', function (){
				 return function (text){
					//...功能代码
				 }
			  });

		1.过滤服务$filter
		描述：$filter服务在NG框架中是对数据进行转换显示的一种小工具
		      使用本服务能够让页面中的显示内容呈现为不一样的结构
		语法：{{ 任意内容 | 过滤器 }}
		补充：$filter虽然是系统服务，但是支持自定义内容
		说明：
			  在$filter服务中共计提供了四种过滤器
			  (1)*** | currency:'货币符号'
			  	 用于将内容转换为货币格式
			  	 tips：默认转换为美元格式，当然支持定制。
			  (2)*** | filter:子集数组
				 用于从一个数组选项中筛选出符合要求的子集数组
				 类似于输入提示功能
			  (3)*** | uppercase，lowercase
			  	 用于将内容的格式进行大小写转换

			  (4)*** | orderBy:'表达式'
			  	 用于根据表达式的值对显示的内容进行顺序排列
				 一般会用于ng-repeat结构中，并且repeat结构不是简单数据结构
	*/	

</script>
</body>
</html>