<!DOCTYPE html>
<html ng-app='app'>
<head lang="en">
	<meta charset='utf-8'/>
	<title>自定义服务--constant服务</title>
</head>
<body>

<!-- controller1 向全局变量储存内容 -->
<div class="div1" ng-controller='controller1' style="width:300px; height:100px; border:1px solid black;">
	<input type="text" ng-model='msg'>
	<button ng-click='submit(msg)'>保存</button>
</div>
<!-- controller2 从全局变量获取内容 -->
<div class="div2" ng-controller='controller2' style="width:300px; height:100px; border:1px solid black;">
	<p ng-bind='showMsg'></p>
	<button ng-click='download()'>获取</button>
</div>

<script src="angular.js"></script>
<script>
	var app = angular.module('app', []);
	app.constant('FrankService', {
		pname:'frankenStein'
	});
	app.constant('FrankService', {
		pname:'frank'
	});
	
	//controller1
	app.controller('controller1', ['$scope', function ($scope){
		$scope.msg = '';
		$scope.submit = function (tempMsg){
			console.log('controller1中的内容被保存到了全局变量中');
		};
	}]);
	//controller2
	app.controller('controller2', ['$scope','FrankService', function ($scope, FrankService){
		$scope.showMsg = '';
		$scope.download = function (){
			console.log('controller2中从全局变量中读取具体内容');
			console.log(FrankService.pname);
			FrankService.pname = 'liLei';
			console.log(FrankService.pname);
		};
	}]);

	/*
		1.constant服务
		描述：constant服务可以认为从作用上完全等价于value服务
			  区别就是constant服务一旦被定制完成，那么在注入使用之前都是不能更改的
			  (多次定制constant服务，只有第一个生效)
		语法：app.constant('自定义服务名称', 服务内容JSON);
	*/
</script>
</body>
</html>